.records__search {
    background-color: white;
    display: flex;
    position: relative;
    height: auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.records__table {
    display: inline-block;
    background-color: white;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    overflow: auto;
    width: 90%;
    
    tbody {
        overflow: auto;
        
    }

}

.records__actions {
    display: flex;
    border: none;

    button {
        flex-grow: 1;
    }

    svg {
        max-width: 80%;
        max-height: 80%;
    }
}

table, tr, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
